.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background-color: #f0f0f0;
}

.todo-list {
  display: flex;
  flex-direction: column;

  width: 20%;
  border: 1px solid rgb(000, 000, 255);
}

.todo-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.todo-element {
  display: flex;

  width: 100%;
  border: 1px solid rgb(255, 000, 000);
}

.todo-element button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80%;
  width: 80%;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60%;
  border: 1px solid rgb(000, 255, 000);
}

.todo-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20%;
  border: 1px solid rgb(000, 255, 000);
}

.todo-remove {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20%;
  border: 1px solid rgb(000, 255, 000);
}
